<div id='myapp' class='animated {{animate}}' ng-controller="myapp">
 	<div class='myappheader'>
 		<div class='myclear'></div>
 		<ul>
 			<li><img src="images/myapp1.png"></li>
 			<li><span ng-click="seeBtn()">{{txt}}</span></li>
 			<li><span>关注5</span>/<span>粉丝2</span>/<span>来访2</span></li>
 		</ul>
 	</div>
 	<div class='myul'>
 		<ul>
 			<li>上传菜单</li>
 			<li>发布话题</li>
 			<li>草稿箱</li>
 		</ul>
 	</div>
 	<div class='myultxt'>
 		<ul>
 			<li><span>系统消息</span><i><img src="images/xuan2.gif"></i></li>
 			<li><span>评论通知</span><i><img src="images/xuan2.gif"></i></li>
 			<li><span>收藏通知</span><i><img src="images/xuan2.gif"></i></li>
 			<li><span>重设密码</span><i><img src="images/xuan2.gif"></i></li>
 			<li><span>设置</span><i><img src="images/xuan2.gif"></i></li>
 			<li><span>帮助与反馈</span><i><img src="images/xuan2.gif"></i></li>
 		</ul>
 	</div>
</div>